<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<link rel="stylesheet" href="login.css">
<body>
    <div class="log-in">
        <p class="log-msg"><%= log %></p>
        <form action="/login" method="post">
            <label for="pass">Password</label>
            <input id="pass" name="pass" type="password" />
            <button type="submit">Enter</button>
        </form>
    </div>
</body>
</html>